body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

.title_info {
    height: fit-content;
}

.title_info h1 {
    margin-bottom: 10px;
}

.container header img {
    width: 250px;
}

.title_contact {
    font-size: 25px;
}

.main {
    margin: 0 40px;
}

h2 {
    margin: 15px 0;
}

p {
    padding: 0 0 0 15px;
    font-size: 20px;
}

.main ul {
    margin: 10px 0 0 0;
}

.main ul li {
    font-size: 20px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column-reverse;
        justify-content: center;
    }
}